@model IEnumerable<PixelHouse.Models.Produto>

<h1>Lista de Produtos</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade em Estoque</th>
            <th>Estoque Mínimo</th>
            <th>Unidade</th>
            <th>ICMS</th>
            <th>CFOP</th>
            <th>Data de Entrada</th>
            <th>Data de Saída</th>
            <th>Data de Alteração</th>
            <th>Fornecedor Preferencial</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.Id</td>
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>R$@produto.Preco.ToString()</td>
                    <td>@produto.QuantidadeEmEstoque</td>
                    <td>@produto.EstoqueMinimo</td>
                    <td>@produto.Unidade</td>
                    <td>%@produto.ICMS.ToString()</td>
                    <td>@produto.CFOP</td>
                    <td>@produto.DataEntrada.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@produto.DataSaida.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@produto.DataAlteracao.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@produto.FornecedorPreferencial</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Produtos" asp-action="Edit" asp-route-id="@produto.Id">Alterar</a>
                        <a class="btn btn-danger" asp-controller="Produtos" asp-action="Delete" asp-route-id="@produto.Id">Excluir</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="14">Nenhum produto encontrado.</td>
            </tr>
        }
    </tbody>
</table>
